SPOTIFY_CLIENT_ID=your_spotify_app_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_app_client_secret
SPOTIFY_REFRESH_TOKEN=your_spotify_refresh_token
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback

SPOTIFY_PLAYLIST_NAME='Daily True Shuffle'
SPOTIFY_PLAYLIST_DESCRIPTION='100 random tracks from Liked Songs. Regenerated daily.'
SPOTIFY_TRACK_COUNT=100
